
.DS_Store
.git/
.idea/

**/file_dir
**/flagged/
**/log/
**/logs/
**/__pycache__/

/data/
/docs/
/dotenv/
/examples/**/*.wav
/hub_datasets/
/trained_models*/
/pretrained_models/
/temp/

**/*.csv
**/*.onnx
**/*.pdf
**/*.md
#**/*.wav
**/*.xlsx
**/*.jsonl
**/*.zip
